.version.contact_us /* version checker */
{
	color: #0000F5;
	background-color: #99A301;
}

.html
{
	background-color: #FCE2B9;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1196px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FCE2B9;
	margin-left: auto;
	margin-right: auto;
}

#pu164
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u164
{
	z-index: 3;
	padding-bottom: 0px;
}

#u164_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 9px;
	padding-bottom: 33px;
}

#pu394-4
{
	width: 0.01px;
	left: 903px;
	position: relative;
}

#u394-4
{
	z-index: 49;
	width: 76px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u381
{
	z-index: 41;
	width: 22px;
	margin-right: -10000px;
	left: 95px;
}

#u375
{
	z-index: 39;
	width: 22px;
	margin-right: -10000px;
	left: 135px;
}

#pu387
{
	width: 0.01px;
	left: 896px;
	margin-top: 42px;
	position: relative;
}

#u387
{
	z-index: 43;
	width: 25px;
	margin-right: -10000px;
}

#u387_img
{
	padding-bottom: 1px;
}

#u393-4
{
	z-index: 45;
	width: 139px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 38px;
}

#pu349
{
	width: 0.01px;
	left: 896px;
	margin-top: 23px;
	position: relative;
}

#u349
{
	z-index: 33;
	width: 25px;
	margin-right: -10000px;
}

#u355-4
{
	z-index: 35;
	width: 139px;
	min-height: 18px;
	margin-right: -10000px;
	left: 38px;
}

#pmenuu133
{
	width: 0.01px;
	left: 301px;
	margin-top: 17px;
	position: relative;
}

#menuu133
{
	z-index: 4;
	width: 488px;
	margin-right: -10000px;
}

#u362
{
	width: 120px;
	min-height: 60px;
	margin-right: -10000px;
}

#u363
{
	width: 120px;
	padding-bottom: 41px;
}

#u366-4
{
	width: 120px;
	min-height: 19px;
	margin-right: -10000px;
	top: 20px;
}

#u363:hover #u366-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u134
{
	width: 120px;
	min-height: 60px;
	margin-right: -10000px;
	left: 122px;
}

#u135
{
	width: 120px;
	padding-bottom: 41px;
}

#u136-4
{
	width: 120px;
	min-height: 19px;
	margin-right: -10000px;
	top: 20px;
}

#u363.MuseMenuActive #u366-4,#u135:hover #u136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 121px;
	min-height: 60px;
	margin-right: -10000px;
	left: 244px;
}

#u150
{
	width: 121px;
	padding-bottom: 41px;
}

#u153-4
{
	width: 121px;
	min-height: 19px;
	margin-right: -10000px;
	top: 20px;
}

#u135.MuseMenuActive #u136-4,#u150:hover #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u156
{
	width: 121px;
	min-height: 60px;
	margin-right: -10000px;
	left: 367px;
}

#u157
{
	width: 121px;
	padding-bottom: 41px;
}

#u363.MuseMenuActive,#u135.MuseMenuActive,#u150.MuseMenuActive,#u157.MuseMenuActive
{
	margin: 0px;
}

#u159-4
{
	width: 121px;
	min-height: 19px;
	margin-right: -10000px;
	top: 20px;
}

#u150.MuseMenuActive #u153-4,#u157:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u157.MuseMenuActive #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u275
{
	z-index: 31;
	width: 157px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 562px;
}

#u164-bw
{
	z-index: 3;
	height: 250px;
}

#u245
{
	z-index: 29;
	width: 360px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 23px;
}

#u130
{
	z-index: 2;
	padding-bottom: 142px;
}

#u130_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u395
{
	z-index: 53;
	width: 241px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 459px;
}

#u130-bw
{
	z-index: 2;
	margin-top: 936px;
	height: 118px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -935px;
}

